<!DOCTYPE html>
<html>
<head>
  <title>WeRead</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
	  </script>
	<![endif]-->
</head>

<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "WeRead", assignments_path, id: 'logo' %>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>

<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <p class="navbar-text pull-right">&copy; 2015 WeRead - Powered by <a href="https://engineering.purdue.edu/HIVELab/", target='_blank'>HIVE Lab</a>, <a href="http://www.purdue.edu", target='_blank'>Purdue University</a>.</p>
  </div>
</footer>


<br>
<br>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
